<ion-view>
  <ion-content class="fondoadn">
    <div class="row fila111">
      <div class="col-25 a2"><a ui-sref="inicio"><i class="fas fa-home"></i></a></div>
      <div class="col-75 efecto2"><a ui-sref="juego" class="efecto2"> GAME </a></div>
    </div>
    <div class="row fila11">
      <div class="col-19 efecto"><a ui-sref="agua"><b>Agua</b></a></div>
      <div class="col-21 efecto"><a ui-sref="video"><b>Video</b></a></div>
      <div class="col-20 efecto"><a ui-sref="adn"><b>ADN</b></a></div>
      <div class="col-20 efecto"><a ui-sref="nutricion"><b>Info</b></a></div>
      <div class="col-20 efecto"><a ui-sref="info"><b>Nutre</b></a></div>
    </div>
    <div class="row">
      <div class="col">
        <div style="background: rgba(0,0,0,0.9);">
          <div id="stage">
            <div id="spinner" style="text-align: center; color: #fff;">
              <h1><span class="blue">a</span><span class="lineas2">________</span><span class="pink">t</span></h1>

              <h1><span class="blue">g</span><span class="lineas">________</span><span class="pink">c</span></h1>

              <h1><span class="blue">c</span><span class="lineas2">________</span><span class="pink">g</span></h1>
              <h1><span class="blue">t</span><span class="lineas">________</span><span class="pink">a</span></h1>

              <h1><span class="blue">a</span><span class="lineas2">________</span><span class="pink">t</span></h1>

              <h1><span class="blue">a</span><span class="lineas">________</span><span class="pink">t</span></h1>
              <h1><span class="blue">g</span><span class="lineas2">________</span><span class="pink">c</span></h1>

              <h1><span class="blue">t</span><span class="lineas">________</span><span class="pink">a</span></h1>

              <h1><span class="blue">a</span><span class="lineas2">________</span><span class="pink">t</span></h1>

              <!--saddddasd-->
            </div>
          </div>
      </div>
    </div>
  </ion-content>
</ion-view>
