<ion-view view-title="INFOGRAFIA">
  <ion-content style="background:orange;">
    <div class="row fila111">
      <div class="col-25 a2"><a ui-sref="inicio"><i class="fas fa-home"></i></a></div>
      <div class="col-75 efecto2"><a ui-sref="juego" class="efecto2"> GAME </a></div>
    </div>
    <div class="row fila11">
      <div class="col-19 efecto"><a ui-sref="agua"><b>Agua</b></a></div>
      <div class="col-21 efecto"><a ui-sref="video"><b>Video</b></a></div>
      <div class="col-20 efecto"><a ui-sref="adn"><b>ADN</b></a></div>
      <div class="col-20 efecto"><a ui-sref="nutricion"><b>Info</b></a></div>
      <div class="col-20 efecto"><a ui-sref="info"><b>Nutre</b></a></div>
    </div>
    <div class="row">
      <div class="col">
        <center>
          <img class="tablea" src="http://cerradurasdeseguridad.info/img/ec32d86d073ded1a8b84645255d240d6.gif">
        </center>
      </div>
    </div>
  </ion-content>
</ion-view>
