<ion-view>
	<ion-content class="contej">
		<div class="row fila111">
      <div class="col-25 a2"><a ui-sref="inicio"><i class="fas fa-home"></i></a></div>
      <div class="col-75 efecto2"><a ui-sref="juego" class="efecto2"> GAME </a></div>
    </div>
    <div class="row fila11">
      <div class="col-19 efecto"><a ui-sref="agua"><b>Agua</b></a></div>
      <div class="col-21 efecto"><a ui-sref="video"><b>Video</b></a></div>
      <div class="col-20 efecto"><a ui-sref="adn"><b>ADN</b></a></div>
      <div class="col-20 efecto"><a ui-sref="nutricion"><b>Info</b></a></div>
      <div class="col-20 efecto"><a ui-sref="info"><b>Nutre</b></a></div>
    </div>
		<div class="row">
			<div class="col-10"></div>
			<div class="col-80">
				<div class="todo">
		    <div class="titulo">
					<br>
		      <b><p>Juego</p></b>
					<b><p>MEMORIA</p></b>
		    </div>
				<div class="memoria">
					<div class="carta" id="1">
						<div class="inner-wrap">
							<div class="frente"></div>
							<div class="atras"></div>
						</div>
					</div>
					<div class="carta" id="2">
						<div class="inner-wrap">
							<div class="frente"></div>
							<div class="atras"></div>
						</div>
					</div>
					<div class="carta" id="3">
						<div class="inner-wrap">
							<div class="frente"></div>
							<div class="atras"></div>
						</div>
					</div>
					<div class="carta" id="4">
						<div class="inner-wrap">
							<div class="frente"></div>
							<div class="atras"></div>
						</div>
					</div>

					<div class="carta" id="5">
						<div class="inner-wrap">
							<div class="frente"></div>
							<div class="atras"></div>
						</div>
					</div>
					<div class="carta" id="6">
						<div class="inner-wrap">
							<div class="frente"></div>
							<div class="atras"></div>
						</div>
					</div>
					<div class="carta" id="7">
						<div class="inner-wrap">
							<div class="frente"></div>
							<div class="atras"></div>
						</div>
					</div>
					<div class="carta" id="8">
						<div class="inner-wrap">
							<div class="frente"></div>
							<div class="atras"></div>
						</div>
					</div>

					<div class="carta" id="9">
						<div class="inner-wrap">
							<div class="frente"></div>
							<div class="atras"></div>
						</div>
					</div>
					<div class="carta" id="10">
						<div class="inner-wrap">
							<div class="frente"></div>
							<div class="atras"></div>
						</div>
					</div>
					<div class="carta" id="11">
						<div class="inner-wrap">
							<div class="frente"></div>
							<div class="atras"></div>
						</div>
					</div>
					<div class="carta" id="12">
						<div class="inner-wrap">
							<div class="frente"></div>
							<div class="atras"></div>
						</div>
					</div>

					<div class="carta" id="13">
						<div class="inner-wrap">
							<div class="frente"></div>
							<div class="atras"></div>
						</div>
					</div>
					<div class="carta" id="14">
						<div class="inner-wrap">
							<div class="frente"></div>
							<div class="atras"></div>
						</div>
					</div>
					<div class="carta" id="15">
						<div class="inner-wrap">
							<div class="frente"></div>
							<div class="atras"></div>
						</div>
					</div>
					<div class="carta" id="16">
						<div class="inner-wrap">
							<div class="frente"></div>
							<div class="atras"></div>
						</div>
					</div>

		      <div class="carta" id="17">
						<div class="inner-wrap">
							<div class="frente"></div>
							<div class="atras"></div>
						</div>
					</div>

		      <div class="carta" id="18">
						<div class="inner-wrap">
							<div class="frente"></div>
							<div class="atras"></div>
						</div>
					</div>

				</div>
			</div>
			</div>
		</div>
		<div class="arbol">
			<div class="row">
				<div class="col"><br><br>
					<h1 class="yo">Yo</h1>
					<p class="yon">Robinson</p>
				</div>
			</div>
			<!--fin fila-->
			<div class="row">
				<div class="col"><br><br>
					<h1 class="yo">Hermana</h1>
					<p class="yon">Yaquelin</p>
				</div>
			</div>
			<!--fin fila-->
			<div class="row">
				<div class="col"><br><br>
					<h1 class="yo">Mama</h1>
					<p class="yon">Delmi</p>
				</div>
			</div>
			<!--fin fila-->
			<div class="row">
				<div class="col"><br><br>
					<h1 class="yo">Papá</h1>
					<p class="yon">Victor</p>
				</div>
			</div>
			<!--fin fila-->
			<div class="row">
				<div class="col"><br><br>
					<h1 class="yo">Tio Materno</h1>
					<p class="yon">Darwin</p>
				</div>
			</div>
			<!--fin fila-->
			<div class="row">
				<div class="col"><br><br>
					<h1 class="yo">Tio Materno</h1>
					<p class="yon">Mario</p>
				</div>
			</div>
			<!--fin fila-->
			<div class="row">
				<div class="col"><br><br>
					<h1 class="yo">Tio Paterno</h1>
					<p class="yon">Juan Carlos</p>
				</div>
			</div>
			<!--fin fila-->
			<div class="row">
				<div class="col"><br><br>
					<h1 class="yo">Tia Paterna</h1>
					<p class="yon">Mildred</p>
				</div>
			</div>
			<!--fin fila-->
			<div class="row">
				<div class="col"><br><br>
					<h1 class="yo">Abuelo Materno</h1>
					<p class="yon">Magdaleno</p>
				</div>
			</div>
			<!--fin fila-->
			<div class="row">
				<div class="col"><br><br>
					<h1 class="yo">Abuela Materno</h1>
					<p class="yon">Thelma</p>
				</div>
			</div>
			<!--fin fila-->
			<div class="row">
				<div class="col"><br><br>
					<h1 class="yo">Abuelo Paterno</h1>
					<p class="yon">Juan</p>
				</div>
			</div>
			<!--fin fila-->
			<div class="row">
				<div class="col"><br><br>
					<h1 class="yo">Abuela Paterna</h1>
					<p class="yon">Dora</p>
				</div><br><br>
			</div>
		</div>
	</ion-content>
</ion-view>
