<ion-view>
  <ion-content class="fondoagua">
    <div class="row fila111">
      <div class="col-25 a2"><a ui-sref="inicio"><i class="fas fa-home"></i></a></div>
      <div class="col-75 efecto2"><a ui-sref="juego" class="efecto2"> GAME </a></div>
    </div>
    <div class="row fila11">
      <div class="col-19 efecto"><a ui-sref="agua"><b>Agua</b></a></div>
      <div class="col-21 efecto"><a ui-sref="video"><b>Video</b></a></div>
      <div class="col-20 efecto"><a ui-sref="adn"><b>ADN</b></a></div>
      <div class="col-20 efecto"><a ui-sref="nutricion"><b>Info</b></a></div>
      <div class="col-20 efecto"><a ui-sref="info"><b>Nutre</b></a></div>
    </div>
    <br>
    <div class="row">
      <div class="col" style="width:100%;height:auto;">
        <div style="background:#048998">
          <iframe class="conta"  src="https://www.youtube.com/embed/XMvncTxCLB4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <h4 style="color:#FFF;font-family: 'Oswald', sans-serif;font-size:30px;text-align:center;"><b>La contaminacion del agua</b></h4><br>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col" style="width:100%;height:auto;">
        <div style="background:#AD5C06">
          <iframe class="conta" src="https://www.youtube.com/embed/FdafGT-Mar8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <h4 style="color:#FFF;font-family: 'Oswald', sans-serif;font-size:35px;text-align:center;"><b>Cuidados del Agua</b></h4><br>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col" style="width:100%;height:auto;">
        <div style="background:#048998">
          <iframe class="conta" src="https://www.youtube.com/embed/BK02XoLfJQw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <h4 style="color:#FFF;font-family: 'Oswald', sans-serif;font-size:30px;text-align:center;"><b>Formacion de Gametos</b></h4><br>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col" style="width:100%;height:auto;">
        <div style="background:#AD5C06">
          <iframe class="conta" src="https://www.youtube.com/embed/_f0X_trbApw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <h4 style="color:#FFF;font-family: 'Oswald', sans-serif;font-size:35px;text-align:center;"><b>Procesos de Fecundación</b></h4><br>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col" style="width:100%;height:auto;">
        <div style="background:#048998">
          <iframe class="conta" src="https://www.youtube.com/embed/NdEKzlIittk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <h4 style="color:#FFF;font-family: 'Oswald', sans-serif;font-size:30px;text-align:center;"><b>Metodos Anticonceptivos</b></h4><br>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col" style="width:100%;height:auto;">
        <div style="background:#AD5C06">
          <video src="../img/expo.mp4" class="conta" autoplay poster="posterimage.jpg"></video>
          <h4 style="color:#FFF;font-family: 'Oswald', sans-serif;font-size:35px;text-align:center;"><b>Exposicion</b></h4><br>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
